<div class="container">
  <div class="row">
    <div class="col s12">
      <br />
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">New Collection Points</a>
        </div>
      </nav>
      <%= render "form", collection_point: @collection_point %>
    </div>
  </div>
</div>
