<div class="container-fluid">
  <% if notice.present? %>
    <div class="row">
      <div class="col s12">
        <div class="card-panel green lighten-2">
          <span class="white-text"><%= notice %></span>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col s12">
      <%= render @user %>
      <div>
        <%= link_to "Edit", edit_user_path(@user), class: "btn" %> <%= link_to "Back to User", users_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>
