<div data-controller="pages">
  <div id="map"></div>
  <div class="search-wrapper">
    <div class="search-box white">
      <%= form_tag do %>
        <div class="input-field">
          <%= text_field_tag :search, nil, id: "search", class: "validate" %>
          <%= label_tag :search, "Busque por local ou material..." %>
          <%= button_tag "Buscar", class: "btn waves-effect waves-light", type: "submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>