#map {
    position: relative;
    z-index: 0;
    height: 100vh;
}

.search-wrapper {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;

    .search-box {
        width: 70vw;
        max-width: 500px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        .input-field {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            input[type=search] {
                margin: 0;
                padding: 0;
                border: none;
                box-shadow: none;
                outline: none;
                flex: 1;
            }

            label {
                margin-left: 0px;
                font-size: 0.9em;
            }

            .btn {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}