<div id="<%= dom_id recyclable_material %>">
  <p>
    <strong>Name:</strong>
    <%= recyclable_material.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recyclable_material.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recyclable_material.category %>
  </p>

</div>
