<h1>Editing recyclable material</h1>

<%= render "form", recyclable_material: @recyclable_material %>

<br>

<div>
  <%= link_to "Show this recyclable material", @recyclable_material %> |
  <%= link_to "Back to recyclable materials", recyclable_materials_path %>
</div>
